<div class="form-left-col">

    <label>Id:</label>
    <input type="text" name="newProject.id" ng-model="newProject.id" disabled />

    <label>Name:</label>
    <input type="text" name="newProject.name" ng-model="newProject.name" />

    <label>Status:</label>
    <input type="text" name="newProject.status" ng-model="newProject.status" disabled />

    <!-- <label>Created:</label>
    <input type="text" name="newProject.created" ng-model="newProject.created" disabled /> -->

    <label>Updated:</label>
    <input type="text" name="newProject.updated" ng-model="newProject.updated" disabled />

    <label>Deltas:</label>
    <input type="text" name="newProject.deltas" ng-model="newProject.deltas" disabled />

	<label>Description:</label>
    <textarea name="newProject.description" ng-model="newProject.description" ></textarea>

    <button class="update" ng:click="updateProject()">Update</button>
    <button class="delete" ng:click="deleteProject(newProject.id)">Delete</button>

</div>
<div class="form-right-col">
	<div class="list-group">
		GROUPS
	  <table class="table table-striped">
		<tr  ng-repeat="group in groups" ui-sref='groups.group({groupID:group.id()})'>
		  <td ui-sref-active="active"> {{ group.id() }} </td>
		  <td> {{ group.data('name') }} </td>
		  <td> {{ group.status() }} </td>
		  <td> {{ group.timestamp() | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
		  <td><button class="delete" ng-click="deleteGroup(group)">Delete</button></td>
		</tr>
		<p ui-sref='groups.group({groupID:"new"})'>New Group</p>
	  </table>
	</div>
	<div class="list-group">
		ITEMS  
	  <table class="table table-striped">
		<tr  ng-repeat="item in items" ui-sref='incidents.incident({incidentID:project.id()})'>
		  <td ui-sref-active="active"> {{ item.id() }} </td>
		  <td> {{ item.data('name') }} </td>
		  <td> {{ item.status() }} </td>
		  <td> {{ item.timestamp() | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
		  <td><button class="delete" ng-click="deleteItem(item.id())">Delete</button></td>
		</tr>
		<p ui-sref='items.item({itemID:"new"})'>New Item</p>
	  </table>
	</div>

</div>

