<div class="row">
  <table class="table table-striped">
    <tr  ng-repeat="project in projects" ng-click="setProject(project)">
      <td> {{ project.id() }} </td>
	  <td> {{ project.data('name') }} </td>
	  <td> {{ project.status() }} </td>
      <td> {{ project.timestamp() | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
      <td ui-sref='incidents.incident({incidentID:project.id()})' >Edit</td>
      <td><button class="delete" ng:click="deleteProject(project)">Delete</button></td>
    </tr>
	<p ui-sref='incidents.incident({incidentID:"new"})'>New Project</button>
  </table>
</div>
